<div
  class="open-orders-table-row h-10 w-full min-w-fit rounded-[10px] bg-bg-element-primary text-sm font-medium text-text-primary xl:h-[50px] xl:text-base"
>
  <h3 class="w-[130px] shrink-0 text-left">${symbol}</h3>
  <h3 class="w-[100px] shrink-0 text-left">${type}</h3>
  <h3 class="w-[120px] shrink-0 text-left">${position}</h3>
  <h3 class="w-[140px] shrink-0 text-left">${price}</h3>
  <h3 class="w-[150px] shrink-0 text-left">${amount}</h3>
  <h3 class="w-[160px] shrink-0 text-left">${openingDate}</h3>
  <h3 class="w-[100px] shrink-0 text-left">${tpsl}</h3>
  <h3 class="w-[130px] shrink-0 text-left">${cancelAll}</h3>
</div>
