<section
  x-data="{
    isTradingModalOpen: false,
    tradingSelectedOption: 'buy',
    ordersTableActiveTab: $el.getAttribute('data-orders-table-active-tab') || '${defaultTabName}',
  initializeOrderSection() {
    initOrdersTableTitlesSwiper();
    setOrdersTableActiveTab('${defaultTabName}');
    updateOrdersTableContent('${defaultTabName}');
  }
}"
  x-init="initializeOrderSection()"
  class="mx-auto w-full text-center"
>
  <div class="custom-container xl:!px-0">
    <!-- top block -->
    <div
      class="flex flex-col items-center justify-start rounded-xl bg-bg-secondary p-4 md:rounded-2xl md:px-[26px] md:py-5 xl:px-8 xl:py-6"
    >
      <div
        class="flex w-full flex-col items-center justify-start md:overflow-x-scroll md:overflow-y-hidden xl:overflow-x-hidden"
      >
        <!-- titles slider -->
        <div
          id="swiper-orders-table-titles"
          class="swiper mb-5 w-full pr-16 max-md:faded-right-container md:!overflow-visible"
        >
          <div class="swiper-wrapper flex">${filterTitlesHeader}</div>
        </div>

        <!-- positions and orders list -->
        <div id="positions-orders-list-container" class="h-auto w-full"></div>
      </div>
    </div>

    <!-- buy/sell buttons block -->
    <div
      class="fixed bottom-0 left-0 z-[5] flex w-full items-center justify-center gap-x-[6px] bg-bg-primary px-4 pt-3 pb-5 text-sm md:hidden"
    >
      <button
        type="button"
        class="flex h-10 flex-1 items-center justify-center rounded-lg bg-green-400"
        @click="isTradingModalOpen = true; tradingSelectedOption = 'buy'; 
        $el.closest('body').classList.add('no-scroll')"
      >
        ${buyButton}
      </button>
      <button
        type="button"
        class="flex h-10 flex-1 items-center justify-center rounded-lg bg-red-200"
        @click="isTradingModalOpen = true; tradingSelectedOption = 'sell'; 
        $el.closest('body').classList.add('no-scroll')"
      >
        ${sellButton}
      </button>
    </div>
  </div>

  <div
    x-show="isTradingModalOpen"
    x-transition:enter="transition ease-out duration-300"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease-in duration-300"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    class="bg-opacity-50 fixed inset-0 z-10 flex items-end justify-center bg-black/80 md:items-start md:justify-start md:bg-transparent"
  >
    ${TradingModal}
  </div>
</section>
