<div
  class="positions-table-row h-10 w-full min-w-fit rounded-[10px] bg-bg-element-primary text-sm font-medium text-text-primary xl:h-[50px] xl:text-base"
>
  <h3 class="w-[120px] shrink-0 text-left">${symbol}</h3>
  <h3 class="w-[130px] shrink-0 text-left">${size}</h3>
  <h3 class="w-[110px] shrink-0 text-left">${entryPrice}</h3>
  <h3 class="w-[120px] shrink-0 text-left">${markPrice}</h3>
  <h3 class="w-[120px] shrink-0 text-left">${liquidPrice}</h3>
  <h3 class="w-[130px] shrink-0 text-left">${margin}</h3>

  <h3 class="w-[130px] shrink-0 text-left">${pnl}</h3>
  <h3 class="w-[80px] shrink-0 text-left">${tpsl}</h3>
  <h3 class="w-[154px] shrink-0 text-left">${closePositions}</h3>
</div>
