@import "tailwindcss";

:root {
  --background-primary-color: #000000;
  --background-secondary-color: #191919;
  --background-block-color: #141518;
  --background-button-gray-color: #333333;
  --background-element-primary-color: #242424;

  --text-primary-color: #f7f8f8;
  --text-secondary-color: #ffffff;
  --text-gray: #8a8a8a;
  --text-primary-gray: #979797;
  --text-secondary-gray: #4c4c4c;

  --accent-primary-blue: #0057ff;
  --accent-primary-black: #191919;
  --accent-primary-red: #ae3c58;
  --accent-secondary-red: #ff678c;

  --line-primary-gray: rgba(255, 255, 255, 0.1);

  color: var(--text-primary-color);
  background-color: var(--background-primary-color);

  font-family:
    "Montserrat", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-mode {
  --background-primary-color: #f7f8f8;
  --background-secondary-color: gray;
  --background-block-color: #141518;
  --background-button-gray-color: #333333;
  --background-element-primary-color: gray;

  --text-primary-color: #000000;
  --text-secondary-color: #000000;
  --text-gray: #8a8a8a;
  --text-primary-gray: #979797;
  --text-secondary-gray: #4c4c4c;

  --accent-primary-blue: #0057ff;
  --accent-primary-black: #191919;
  --accent-primary-red: #ae3c58;
  --accent-secondary-red: #ff678c;

  --line-primary-gray: rgba(255, 255, 255, 0.1);
}

body {
  min-height: 100vh;
  margin: 0;
  color: var(--text-primary-color);
  background-color: var(--background-primary-color);

  transition:
    background-color 0.4s ease-in-out,
    color 0.4s ease-in-out;
}

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  text-align: center;
}

body.no-scroll {
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: unset;
  /* Firefox */
}

#accounts-container .swiper-pagination-bullet {
  margin-left: 2px !important;
  margin-right: 2px !important;
  background-color: #3c3d45 !important;
  opacity: 1 !important;
  transition: all 200ms ease-in-out !important;
}

#accounts-container .swiper-pagination-bullet-active {
  width: 27px !important;
  height: 8px !important;
  border-radius: 20px !important;
  background-color: #3c3d45 !important;
}

.faded-right-container {
  -webkit-mask-image: linear-gradient(to left, transparent, black 80px);
  mask-image: linear-gradient(to left, transparent, black 80px);
}

.faded-bottom-container {
  -webkit-mask-image: linear-gradient(to top, transparent, black 40px);
  mask-image: linear-gradient(to top, transparent, black 40px);
}

/* Home page => Last transactions list & pagination */
.transactions-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 9px;
  padding-left: 15px;
  padding-right: 15px;
}

.transactions-table-row.transactions-list-row {
  height: 62px;
  font-size: 13px;
}

.transactions-table-cell {
  width: 100px;
  text-align: left;
  flex-shrink: 0;
}

.pagination-number-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.pagination-number-btn:hover {
  opacity: 0.85;
}

.pagination-number-btn:active {
  opacity: 0.75;
}

@media (min-width: 1024px) {
  .transactions-table-cell {
    width: 120px;
  }

  .transactions-table-row.transactions-list-row {
    height: 80px;
    font-size: 14px;
    border-bottom: 1px solid var(--line-primary-gray);
  }

  .transactions-table-row.transactions-list-row:last-child {
    border-bottom: 1px solid transparent;
  }
}

@media (min-width: 1440px) {
  .transactions-table-cell {
    width: 150px;
  }

  .transactions-table-row.transactions-list-row {
    height: 91px;
    font-size: 16px;
  }
}
