<section class="hidden text-center md:block xl:h-full">
  <div
    class="rounded-2xl bg-bg-secondary md:h-[700px] md:w-[344px] md:min-w-[344px] xl:h-full xl:w-[420px]"
  >
    <div class="flex h-full w-full flex-col items-center justify-between p-4">
      ${tradingBlock}

      <div class="flex w-full items-center justify-center gap-x-[6px]">
        <button
          type="button"
          class="flex h-10 flex-1 items-center justify-center rounded-lg bg-green-400"
          @click=" $store.market.buyAsset()"
        >
          ${buyButton}
        </button>
        <button
          type="button"
          class="flex h-10 flex-1 items-center justify-center rounded-lg bg-red-200"
          @click=" $store.market.sellAsset()"
        >
          ${sellButton}
        </button>
      </div>
    </div>
  </div>
</section>
