<div
  x-data="{
    freeMargin: '${freeMargin}',
    maxTotalAmount: '${maxTotalAmount}'
  }"
  x-init="$store.market.setActiveTab('market')"
  class="flex w-full flex-col items-center"
>
  <!-- open leverage config button -->
  <button
    type="button"
    class="mb-[22px] flex h-9 w-full items-center justify-between rounded-lg bg-bg-button-gray px-[10px] text-sm"
    @click="$store.market.isLeverageModalOpen = true; $store.market.leverageValue != 1 ? $store.market.isLeverageModalEditMode = true : $store.market.isLeverageModalEditMode = false"
  >
    <div class="flex items-center gap-x-1">
      <span>${leverage}</span>
      <span
        class="font-semibold text-yellow-100"
        x-text="$store.market.leverageValue + 'x'"
      ></span>
    </div>

    <span class="size-5 text-white">${chevronIconRight}</span>
  </button>

  <!-- market / limit tabs -->
  <div class="mb-[22px] flex w-full items-center gap-x-5 text-gray-primary">
    <button
      class="border-b border-b-transparent px-3 pb-1"
      :class="{ 'text-yellow-100 font-medium border-b-yellow-100': $store.market.activeTab === 'market' }"
      @click="$store.market.setActiveTab('market')"
    >
      ${marketTabTitle}
    </button>

    <button
      class="border-b border-b-transparent px-3 pb-1"
      :class="{ 'text-yellow-100 font-medium border-b-yellow-100': $store.market.activeTab === 'limit' }"
      @click="$store.market.setActiveTab('limit')"
    >
      ${limitTabTitle}
    </button>
  </div>

  <form class="mb-7 flex w-full flex-col items-start gap-y-[22px]">
    <!-- order price input -->
    <label class="flex w-full flex-col gap-y-2 text-left text-xs text-gray">
      ${orderPriceLabel}
      <div
        class="relative flex h-12 w-full items-center rounded-[100px] border border-[#373A43] py-2 pl-5 text-sm"
        :class="{ 'bg-bg-button-gray': $store.market.activeTab === 'market', 'bg-[#232426CC]': $store.market.activeTab === 'limit' }"
      >
        <input
          id="order-price-input"
          type="text"
          inputmode="decimal"
          autocomplete="off"
          :placeholder="$store.market.activeTab === 'market'? '' : '${orderLimitPricePlaceholder}'"
          x-model="$store.market.orderPrice"
          @input="
          $store.market.orderPrice = $store.market.formatInputNumericValue($event.target.value);
          $store.market.updateFromPrice();
          $store.market.tpslModalPlace = 'tradingBlock'"
          class="no-outline h-full w-full bg-transparent text-white-100 placeholder:text-gray-600"
          :class="{ 'hidden': $store.market.activeTab === 'market'}"
          :disabled="$store.market.activeTab === 'market'"
        />

        <span
          class="absolute text-sm text-gray-primary"
          x-text="$store.market.activeTab === 'market' ? '${orderMarketPricePlaceholder}' : ''"
        ></span>

        <div
          class="flex h-full min-w-[76px] shrink-0 items-center border-l border-l-[#373A43] px-3 text-white"
          :class="{ 'hidden': $store.market.activeTab === 'market' }"
        >
          USDT
        </div>
      </div>
    </label>

    <!-- amount input -->
    <label class="flex w-full flex-col gap-y-2 text-left text-xs text-gray">
      ${amountLabel}
      <div
        class="flex h-12 w-full items-center rounded-[100px] border border-[#373A43] bg-[#232426CC] py-2 pl-5 text-sm text-white-100"
      >
        <input
          id="order-volume-input"
          type="text"
          inputmode="decimal"
          autocomplete="off"
          placeholder="${amountPlaceholder}"
          x-model="$store.market.orderVolume"
          @input="
          $store.market.orderVolume = $store.market.formatInputNumericValue($event.target.value);
          $store.market.updateFromVolume();
          $store.market.tpslModalPlace = 'tradingBlock'"
          class="no-outline h-full w-full bg-transparent placeholder:text-gray-600"
        />

        <div
          class="flex h-full min-w-[76px] shrink-0 items-center border-l border-l-[#373A43] px-3 text-white"
        >
          ${assetName}
        </div>
      </div>
    </label>

    <!-- range slider -->
    ${rangeSliderPrimary}

    <!-- tp/sl checkbox for limit tab -->
    <div
      class="flex w-full items-center justify-between"
      :class="{ 'hidden': $store.market.activeTab === 'market' }"
    >
      <label
        class="flex cursor-pointer flex-row-reverse gap-x-2 text-gray-primary"
      >
        TP/SL
        <input
          type="checkbox"
          class="hidden-checkbox"
          @click="
          parseFloat($store.market.takeProfitValue) || parseFloat($store.market.stopLossValue) ? $store.market.resetTpslModalToDefault() : $store.market.isTpslModalOpen = true; 
          $store.market.tpslModalPlace = 'tradingBlock'"
        />
        <span
          class="flex size-6 items-center justify-center rounded-[6px]"
          :class="{ 'bg-green-400 border-none': parseFloat($store.market.takeProfitValue) || parseFloat($store.market.stopLossValue), 'bg-transparent border border-[#484C5C]': !parseFloat($store.market.takeProfitValue) && !parseFloat($store.market.stopLossValue) }"
          ><span
            class="size-5 text-white-100"
            :class="{'inline-block': parseFloat($store.market.takeProfitValue) || parseFloat($store.market.stopLossValue), 'hidden': !parseFloat($store.market.takeProfitValue) && !parseFloat($store.market.stopLossValue)}"
            >${checkIcon}</span
          ></span
        >
      </label>

      <button
        type="button"
        class="size-6 text-gray-primary transition-opacity hover:opacity-85 active:opacity-75"
        :class="{ 'hidden': !parseFloat($store.market.takeProfitValue) && !parseFloat($store.market.stopLossValue) }"
        @click="$store.market.isTpslModalOpen = true; $store.market.isTpslModalEditMode = true; $store.market.tpslModalPlace = 'tradingBlock'"
      >
        ${editIcon}
      </button>
    </div>

    <!-- trigger price for limit tab -->
    <button
      type="button"
      class="flex h-9 w-full items-center justify-between rounded-lg bg-[#202123] px-[10px] text-xs text-gray-primary transition-opacity hover:opacity-85 active:opacity-75"
      :class="{ 'hidden': $store.market.activeTab === 'market' || (!parseFloat($store.market.takeProfitValue) && !parseFloat($store.market.stopLossValue)) }"
      @click="$store.market.isTpslModalOpen = true; $store.market.isTpslModalEditMode = true; $store.market.tpslModalPlace = 'tradingBlock'"
    >
      <span>Trigger Price</span>
      <span>
        <span
          x-text="parseFloat($store.market.takeProfitValue) ? parseFloat($store.market.takeProfitValue).toLocaleString('en-US', {minimumFractionDigits: 0, maximumFractionDigits: 5}).replaceAll(',', ' ').replaceAll('.', ',') : '--'"
        ></span>
        /
        <span
          x-text="parseFloat($store.market.stopLossValue) ? parseFloat($store.market.stopLossValue).toLocaleString('en-US', {minimumFractionDigits: 0, maximumFractionDigits: 5}).replaceAll(',', ' ').replaceAll('.', ',') : '--'"
        ></span>
      </span>
    </button>

    <!-- total order amount input -->
    <label class="flex w-full flex-col gap-y-2 text-left text-xs text-gray">
      ${totalOrderAmountLabel}
      <div
        class="flex h-12 w-full items-center rounded-[100px] border border-[#373A43] bg-[#232426CC] py-2 pl-5 text-sm text-white-100"
      >
        <input
          id="order-amount-input"
          type="text"
          inputmode="decimal"
          autocomplete="off"
          placeholder="${totalOrderAmountPlaceholder}"
          x-model="$store.market.orderAmount"
          @input="
          $store.market.orderAmount = $store.market.formatInputNumericValue($event.target.value);
          $store.market.updateFromAmount();
          $store.market.tpslModalPlace = 'tradingBlock'"
          class="no-outline h-full w-full bg-transparent placeholder:text-gray-600"
        />

        <div
          class="flex h-full min-w-[76px] shrink-0 items-center border-l border-l-[#373A43] px-3 text-white"
        >
          USDT
        </div>
      </div>
    </label>
  </form>

  <!-- free margin / max total amount -->
  <div class="flex w-full flex-col gap-y-[6px]">
    <div class="flex items-center justify-between">
      <span class="text-xs text-gray-primary">${freeMargin}</span>
      <span
        class="text-xs font-semibold text-white-100"
        x-text="freeMargin + ' ' + 'USDT'"
      ></span>
    </div>

    <div class="flex items-center justify-between">
      <span class="text-xs text-gray-primary">${maxTotalAmount}</span>
      <span
        class="text-xs font-semibold text-white-100"
        x-text="maxTotalAmount + ' ' + 'USDT'"
      ></span>
    </div>
  </div>
</div>
